@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.outside, .inside {
    left: 50.1%;
}

.card {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
}

.card:hover {
    transform: rotate(-5deg);
}

.card:hover .outside {
    transform: rotateY(-130deg);
}
.inside {
    background: linear-gradient(to right, #e0e0e0, #ffffff 30%);
    line-height: 1.5;
    padding: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-wrap: break-word;
    left: 50%;
    
}
.png {
    width: 100%;
    height: auto;
    max-width: 300px; /* Ajuste conforme necessário */
    max-height: 300px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px; /* Ajuste o valor conforme necessário */
}

.png img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.outside {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);

}


.back {
    transform: rotateY(180deg);
    background: linear-gradient(to left, #e0e0e0, #ffffff 30%);
}